/* line 6, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_login.scss */
.login__row {
  justify-content: space-between;
}

/* line 9, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_login.scss */
.login__phanhoi {
  text-align: end;
}

/* line 11, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_login.scss */
.login__phanhoi a {
  text-decoration: none;
  color: black;
}

/* line 14, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_login.scss */
.login__phanhoi a:hover {
  color: blue;
  text-decoration: underline;
}

/* line 25, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_login.scss */
.formGroup__label {
  font-weight: 700;
}

/* line 29, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_login.scss */
.formGroup__error {
  color: red;
}

/* line 34, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_login.scss */
.password-toggle-btn:hover {
  cursor: pointer;
}

/* line 7, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_dropdown.scss */
.select2 {
  width: 100% !important;
}

/* line 1, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.actionFunc {
  display: flex;
  align-items: center;
}

/* line 8, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.listTable__table tr > td,
.listTable__table tr > .dt-type-numeric {
  padding: 10px 20px;
  text-align: left !important;
}

/* line 14, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.listTable .dt-length,
.listTable .dt-search {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

/* line 21, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.listTable .dt-layout-row {
  margin-bottom: 15px;
}

/* line 24, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.listTable .dt-layout-row:last-child {
  margin-bottom: 0px;
}

/* line 28, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.listTable .dt-paging > .current {
  z-index: 3;
  color: var(--bs-pagination-active-color);
  background-color: var(--bs-pagination-active-bg);
  border-color: var(--bs-pagination-active-border-color);
}

/* line 34, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.listTable .dt-paging .current {
  border-radius: 50% !important;
  border-color: #8c57ff !important;
  background-color: #8c57ff !important;
  color: #fff !important;
  z-index: 1000000;
}

/* line 41, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.listTable div.dt-container .dt-paging .dt-paging-button.current {
  color: #fff !important;
}

/* line 46, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.add-new {
  padding: 10px 20px;
}

/* line 50, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.dt-container {
  padding: 20px;
}

/* line 54, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.avatarImg {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
}

/* line 59, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.avatarImg img {
  width: 100%;
  height: 100%;
}

/* line 65, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.table > :not(caption) > * > * {
  color: #000 !important;
}

/* line 69, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.table > :not(caption) > * > * {
  color: #000 !important;
}

/* line 73, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.select2-container--default .select2-selection--single {
  display: flex;
  height: 46px;
  align-items: center;
}

/* line 79, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 26px;
  position: absolute;
  top: 12px;
  right: 1px;
  width: 20px;
}

/* line 87, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
button.form-control-btn {
  display: inline-block;
  background-color: #ced4da;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  width: auto !important;
  min-width: 150px;
  border: 1px solid #ced4da;
}

/* line 97, C:/xampp2/htdocs/quanlythuvien/public/assets/scss/_actionFunc.scss */
input.form-control-input {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #ced4da;
}

/*# sourceMappingURL=main.css.map */